
.headerbar {
    position: relative;
    margin-top: -347px;
    z-index: 100;
}

.headerbar:hover {
    z-index: 100;
}

.headersleft {
    margin: 10px;
    color: white;
    float: left;
}

.headersright {
    float: right;
    margin: 10px;
    color: white
}

.header {
    padding: 100px;
    text-align: center;
    color: white;
}

.headersright:hover {
    color: white;
}

.headersleft:hover {
    color: white;
    text-decoration: none;
}

.headersleft > div:active {
    color: white;
    text-decoration: none;
}

.containercontent {
    width: 96%;
    position: sticky;
    z-index: 100;
    background-color: white;
    margin-left: 2%;
    /*margin-top: -50px;*/
    border-radius: 10px;
}

.category {
    font-size: 24px;
    width: 100%;
    float: left;
    color: #676767;
    font-weight: 600;
}

.contentcategory {
    border-radius: 10px;
    background-color: #ecf0f1;
    padding: 5px;
    color: black;
    margin-bottom: 30px;
}

.topic {
    margin: 5px;
    background: white no-repeat 30px 30px;
    background-size: 16%;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
    min-height: 200px;
}

.topicname {
    margin-left: 30%;
    height: 100px;
}

.topicdescription {
    font-size: 11px;
    color: gray;
    height: 40px;
}

.topic1 {
    font-size: 13px;
    font-weight: 900;
}

.topic:hover {
    color: black;
    text-decoration: none;
}

.number {
    color: #999999;
    font-weight: 900;
}

.type {
    color: gray;
    font-weight: 300;
}

.separator {
    content: '';
    display: block;
    width: 60px;
    height: 2px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #02acff;
}

.search {
    border-radius: 25px 0 0 25px;
    margin-right: 0;
    font-size: 10px;
    padding: 5px;
    background-color: #f7f7f7;
    border: 1px solid;
}

.button1 {
    margin-left: -6px;
    background-color: #f7f7f7;
    border: 1px solid;
    width: 40px;
    font-size: 10px;
    padding: 5px;
}

.setting1 {
    margin-left: -6px;
    border-radius: 0 25px 25px 0;
    background-color: #f7f7f7;
    border: 1px solid;
    width: 40px;
    font-size: 10px;
    padding: 5px;
}

.footer1 {
    height: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #02acff;
    text-align: center;
}

.footer2 {
    height: 50px;
    background-color: #2d3039;
    color: #02acff;
    text-align: end;
    padding: 12px;
    font-size: 12px;
}

.footer3 {
    height: 50px;
    background-color: #1d1f25;
    padding: 16px;
    font-size: 12px;
    color: #86a4a7;
}

.footer {
    float: left;
    width: 100%;
    margin-top: -50px;
}

.scroll {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 20px;

    color: white;
    background-color: #02acff;
    z-index: 4;
    display: inline-block;
}

.apps {
    width: 100%
}

.containercontent > div {
    background-color: white;
}

.footer2 > a {
    color: #02acff;
    margin: 5px;
}

.footer2 > a > i {
    margin: 5px;
}

.bottombc > li > a {
    color: #02acff;
}

.appsin > i {
    font-size: 20px;
    width: 20px;
}

.apps > div {
    text-align: center;
}

.input {
    border-radius: 10px;
    background-color: #ecf0f1;
    border: 1px;
    width: 16%;
    height: 26px;
}

.information {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #ecf0f1;
    padding: 5px;
    margin-bottom: 30px;
    float: left;
    width: 100%;
}

.inInformation {
    border-radius: 10px;
    background-color: white;
    font-size: 10px;
    padding: 5px;
    color: gray;
}

.inInformation > a {
    font-size: 15px;
    color: black;
}

.inInformation > a:hover {
    text-decoration: none;
}

.href {
    font-size: 15px;
    color: black;
}

.href > a {
    text-decoration: none;
}

.in {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #353941;
    color: white;
    float: left;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
}

.login {
    width: 100%;
    border-radius: 10px;
    text-align: center;
    background-color: #02acff;
    border: none;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px
}

.login:hover {
    background-color: #42c2ff;
    border: none;
}

.category:hover {
    text-decoration: none;
    color: #02acff;
}

.bottomtopic {
    width: 25%;
    float: left;
    font-size: 10px;
}

.head > a:hover {
    color: white;
    text-decoration: none;
}

.footer3 > a {
    color: #02acff;
}

.scroll:hover {
    color: white;
}

.appsicon:hover {
    color: #02acff;
    background-color: white;
}

details summary {
    display: block;
    width: 10em;
    width: -moz-fit-content;
    width: fit-content;
    outline-style: none;
    cursor: pointer;
}

details summary::-webkit-details-marker {
    display: none;
}

.widget {
    font-size: 15px;
    margin-top: 10px;
    float: left;
    width: 100%;
}

.font > a {
    font-size: 11px;
}

input:hover {
    border: 1px solid #02acff;
    outline: none;
}

button:hover {
    border: 1px solid #02acff;
    outline: none;
}

.bottom {
    height: 40px;
}

.transition-scale {
    position: relative;
    z-index: 2;
    transition: 0.2s linear;
}

.transition-scale1 {
    position: relative;
    z-index: 2;
    transition: 0.2s linear;
}

.transition-scale1:hover {
    -webkit-transform: scale(1.009);
    transform: scale(1.009);
}

.scroll:active {
    transition: 2s;
}

.transition-scale:hover {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
}

.inputbox:hover {
    border-color: #02acff;
}

.topic:hover {
    color: #02acff;
}

.login1 {
    border-radius: 10px;
    background-color: #f3f3f2;
    border: none;
    height: 25px;
    font-size: 13px;
    float: left;
}

.login1:hover {
    background-color: #02acff;
    color: white;
}

.appsicon {
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    padding: 12px;
    border: 1px solid white;
    margin: 5px;
    text-align: center;
}

.bottomtopic2 {
    width: 50%;
    float: left;
    font-size: 10px;
}

.transition2:hover {
    transition: 100ms;
}

.transition3:hover {
    transition: 300ms;
}

.head {
    font-size: 14px;
    margin-top: 36px;
}

.breadcrumbs {
    background-color: white;
    color: #676767;
    margin-bottom: 0;
    height: 50px;
}

.icon {
    background-color: white;
    color: #676767
}

.bottombc {
    float: left;
    padding: 0;
    background-color: inherit;
}

a {
    color: #02acff;
}

a:hover {
    color: #02acff;
}

#particles-js {
    height: 304px;
    position: initial;
    margin-top: -304px;
    background-color: rgba(12, 172, 291, 0.6);
    z-index: 1;
}

.headerbar > .head > .headersleft > a {
    color: white;
}

.headerbar > .head > .headersright > a {
    color: white;
}

.input:focus {
    outline: none;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    color: white;
}

.float {
    font-weight: normal;
    font-size: 12px;
    margin: 5px;
    float: left;
}

.width {
    width: 100%;
}

.float1 {
    float: none;
}

.tableR {
    border-spacing: 0;
    border: 1px solid;
    border-radius: 10px;
    border-collapse: separate;
    margin-bottom: 20px;
    width: 100%;
}

.tableR td, .tableR th {
    padding: 10px;
    border-left: 1px solid;
    border-top: 1px solid;
}

.tableR th {
    background: #02acff;
    border-top: none;
}

.tableR th a {
    color: white;
}

.tableR td:first-child, .tableR th:first-child {
    border-left: none;
}

/* из-за background */

.tableR th:first-child {
    border-top-left-radius: 10px;
}

.tableR th:last-child {
    border-top-right-radius: 10px;
}

.tableT {
    border-spacing: 0;
    border: 1px solid;
    border-radius: 10px;
    border-collapse: separate;
    margin-bottom: 20px;
    width: 100%;
}

.tableT td, .tableT th {
    padding: 10px;
    border-left: 1px solid;
    border-top: 1px solid;
}

.tableT tbody tr {
    border-top-left-radius: 10px;
    border-top: none;
}

.tableT th:first-child {
    border-left: none;
    background: #02acff;
    color: white;
}

.tableT tr:first-child {
    border-top: none;
}

td img {
    width: 30%;
}

.breadcrumb {
    background-color: inherit;
}

.upbreadcrumb {
    font-size: 24px;
    margin-top: 20px;
}

.sim-slider-element>img {
    width: 100% !important;
    height: 300px;
    object-fit: cover;
}

/*.sim-slider {*/
    /*background-color: white;*/
/*}*/

/* General styles */
.sim-slider {
    position: relative;
    height: 250px;
    margin-top: -316px;
}

.sim-slider-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
}

.sim-slider-element {
    width: 100%;
    transition: opacity 1s ease-in;
    opacity: 0;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    display: block;
}

/* Navigation item styles */
div.sim-slider-arrow-left,
div.sim-slider-arrow-right {
    width: 22px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
    z-index: 4;
}

div.sim-slider-arrow-left {
    left: 10px;
    top: 40%;
    display: block;
    z-index: 100;
    /*background-color: white;*/
    /*border-radius: 50%;*/
    /*height: 40px;*/
    /*width: 40px;*/
    /*background-size: 14px;*/
    /*background-position: 40%;*/
    background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-left.png") no-repeat;
}

div.sim-slider-arrow-right {
    right: 10px;
    top: 40%;
    display: block;
    z-index: 100;
    /*background-color: white;*/
    /*border-radius: 50%;*/
    /*height: 40px;*/
    /*width: 40px;*/
    /*background-size: 14px;*/
    /*background-position: 40%;*/
    background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-right.png") no-repeat;
}

div.sim-slider-arrow-left:hover {
    opacity: 1.0;
}

div.sim-slider-arrow-right:hover {
    opacity: 1.0;
}

div.sim-slider-dots {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    text-align: center;
}

span.sim-dot {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    padding: 0;
    display: inline-block;
    background-color: #BBB;
    border-radius: 5px;
    cursor: pointer;
}